{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }} - HMS{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
            <a href="{% url 'lab:lab_test_list' %}" class="btn btn-secondary btn-sm">
                <i class="fas fa-arrow-left mr-1"></i> Back to List
            </a>
        </div>
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}
                
                <div class="row">
                    <div class="col-md-6">
                        {{ form.name|as_crispy_field }}
                        {{ form.category|as_crispy_field }}
                        {{ form.description|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.price|as_crispy_field }}
                        {{ form.report_delivery_time|as_crispy_field }}
                        {{ form.preparation_instructions|as_crispy_field }}
                    </div>
                </div>

                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save mr-1"></i> Save Lab Test
                    </button>
                    <a href="{% url 'lab:lab_test_list' %}" class="btn btn-secondary">
                        <i class="fas fa-times mr-1"></i> Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
